<div id='genbank_inputs' class="span_container small_container">
  <span id="toggle_genbank_inputs" tool="toggle_genbank_inputs">&nbsp;[+]</span>
  <input id="genbank_term" name="genbank_term" type="text"/>
  <button id="esearch" class="esearch btn_image_cell" tool="esearch">Search Genbank</button></br>
  <div id="gb_search_options" class="small_cont unseen">
    &nbsp;&nbsp;&nbsp;Organism<input type='text' id='genbank_org_field' class="org_gene" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gene<input type='text' id='genbank_gene_field' class="org_gene"/>
  </div>
</div>