<%= render 'insd/seqs/genbank_seq_search_bar' %>
<input id="add_genbank_seq" class="btn_image_cel btn_add_genbank_seq" type="button" style="height: 25px; margin-left: 5px; display: none;" value="    Add" tool="add_genbank"><span id='tbl_notes_span'></span>
<table class="catalog widget seqsearchtable"><tr><td id='genbank_results'></td></tr></table>
<div id='selected_seq_results' ></div>