<label>Sequence search:  </label><span id="tolkin_seq_search" tool="toggle_search" class="seq_search seq_search_yes">Tolkin</span><span id="genbank_seq_search" tool="toggle_search" class="seq_search seq_search_no">Genbank</span>
