<%= link_to 'Back', project_library_publishers_path(params[:project_id]) %>
<h5>Editing Publisher</h5>
<% form_for :publisher, @publisher, :url=> project_library_publisher_path(params[:project_id], @publisher), :html=>{:method=>:put} do |form_publisher| %>
 <%= render :partial=> "form", :object=>form_publisher %>
<% end %>

