*.svn
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/public/files/*
/public/nexus/*
/private/storage/library/*
/private/collections/*
/private/tmp/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/config/initializers/globals.rb
/config/database.yml
/script/*
profile.html
/db/migrate/*
/config/initializers/site_keys.rb

.idea
.byebug_history
