<%= link_to 'Back', project_people_path(params[:project_id]) %>
<h5>New Person</h5>

<% form_for :person, @person, :url=> project_people_path(params[:project_id]), :html => { :class => 'person_form' } do |person_form| %>
<%=  render :partial => "form", :object=> person_form %>
<% end %>
