<% form_tag remove_character_project_morphology_matrix_path(params[:project_id]), { :method => :put, :name => "form_character_list", :id=>"form_character_list"} do %>
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>" />
  <table id="characters_list">
    <tr>
      <th class="h"></th>
      <th class="h">Pos</th>
      <th class="h">Name</th>
      <th class="h" colspan="5">Action</th>
    </tr>
    <tbody>
      <% @matrices_characters.each do |mchar| %>
        <%= render :partial => "modify_matrix_characters_row.html.erb", :locals => {:mchar => mchar} %>
      <% end %>
    </tbody>
  </table>
<% end %>