<% form_tag remove_otu_project_morphology_matrix_path(params[:project_id]), { :method => :put, :name => "form_otu_list", :id=>"form_otu_list"} do %>
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>" />
  <table id="otus_list">
    <tr>
      <th class="h"></th>
      <th class="h">Pos</th>
      <th class="h">Name</th>
      <th class="h" width="100px">Owner</th>
      <th class="h" colspan="5">Action</th>
    </tr>
    <tbody>
    <% @matrices_otus.each do |motu| %>
      <%= render :partial => "modify_matrix_otus_row.html.erb", :locals => {:motu => motu} %>
    <% end %>
    </tbody>
  </table>
<% end %>