<div id="tolkin_fb">
    <div id="fb_main" class="fb_main">
        <div id="overlay_header">
            <span onclick="document.getElementById('tolkin_fb').style.display = 'none';return false">close</span>
        </div>
        <div id="fb_pad">
            <div id="overlay_preamble">
                <h2 id="overlay_tolkin_title">Get in touch with Tolkin</h2>
                <p id="overlay_tolkin_text">
                    Feel free to ask us anything. Submit this form and a ticket will be created for our developers to attend to.
                </p>
            </div>
			<div id="fb_spinner" class="hidden"><center>loading...<img src="/images/ajax-loader.gif" alt="loading..."></center></div>
            <div id="fb_getForm">
            </div>
        </div>
    </div>
    <div id="tolkin_screen">
    </div>
</div>
