<div id="viewport_taxa_user_panel_current_selection" class="current_selection widget">
  <div class="windowtitle">Current Selection</div>
  <div>
    <div id="shopping_cart_current_selection" style="<%= display_current_selection %>">
      <h4>Current Selection</h4>
      <span id="shopping_cart_current_selection_name"><%=current_selection_name%></span>
      <span id="cart_deselect_control" class="link small">deselect</span>
    </div>
  </div>
</div>