<div id="viewport_otus_user_panel_otus_action_panel" class="widget action_panel grid">
  <div class="title black">Actions</div>
  <table>
    <tbody>
      <tr>
        <td id="new_otu">
          <img style="height: 14px; width: 14px;" src="/images/addnew.gif"/>
           New OTU
        </td>
        <td id="add_cart_to_otu_group">
          <img src="/images/16-move-arrow.png"/>
          Add Selected To OTU Group
        </td>
      </tr>
      <tr>
        <td id="delete_from_cart">
          <img src="/images/16-em-cross.png"/>
          Delete Selected
        </td>

      </tr>
    </tbody>
  </table>

</div>