<div id="navpane">
  <div class="windowtitle">Options</div>

  <ul class="listmain">
    <li>
      <a href="<%= new_admin_user_path %>">Add New User</a>
      <!--%=link_to_remote 'Add User', :url => { :action => :add_user_to_project } %-->
    </li>
  </ul>
</div>

