<table>
  <tr>
    <!--%=
      netzke :two_grid_panels,
        :class_name => "Basepack::AccordionPanel",
        :width => 700,
        :title => "Two GridPanels loaded dynamically",
        :items => [{
            :class_name => "Basepack::GridPanel",
            :model => "User",
            :name => "bosses"
          }, {
            #:class_name => "Basepack::GridPanel",
            #:model => "Clerk",
            #:name => "clerks"
        }]
          -->
    <!--td>
      <#% @roles.each do |role| %>
        <#%= role.label %>
      <#% end %>
    </td>
    <td>
      <#% @users.each do |user| %>
        <div class="username"><#%= user.username %></div>
      <#% end %>
    </td-->
  </tr>
</table>