.image_album{
    width:98%;
    height: 95%;
    background-color:#BBBBBB;
    border-top: solid 8px #696565;
    border-right: solid 8px #696565;
    border-left: solid 8px #696565;
    padding: 10px;
    float:left;
}
.image_album .imageSingle {
    float: left;
    margin: 5px;
    width:100px;
    align: center;
    text-align:center;
    border:solid 5px #696565;
    background-color:#e4e4e4;
}
.image_album .imageSingle .image {
    width:90px;
    height:90px;
    margin:3px;
    word-wrap: break-word;
}
.image_album .footer {
    text-align:left;
    height: 75px;
    border-top:solid 3px #696565;
    color:blue;
    padding-top: 4px;
    padding-bottom:4px;
    margin-top: 5px;
    word-wrap: break-word;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: smaller;
    margin-left: 2px;
    margin-right: 2px;

}
.image_album .footer .text {

    width: 90px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.image_show{
    width:550px;
    background-color:#BBBBBB;
    border: solid 4px #696565;
    padding: 10px;
    float:left;
    margin-bottom: 20px;
}

.digg_pagination {
    background: #BBBBBB;
    border-bottom: solid 8px #696565;
    border-right: solid 8px #696565;
    border-left: solid 8px #696565;
    border-top-color: transparent;
    cursor: default;
    width: 98%;
    padding: 10px;
    /* self-clearing method: */ }
.digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
.digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd;
    background-color:#e4e4e4; }
.digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #e4e4e4;
    color: white;
    border: 1px solid #2e6ab1; }
.digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
    background-color:#e4e4e4;}
.digg_pagination a:hover, .digg_pagination a:focus {
    color: #000033;
    border-color: #000033;
    background-color:#e4e4e4;}
.digg_pagination .page_info {
    background-color:#e4e4e4;
    color: #105cb6;
    padding: 0.4em 0.6em;
    width: 25em;
    margin-top: 5px;
    margin-bottom: 0.3em;
    text-align: center;
    border: 1px solid #9aafe5;}
.digg_pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em; }
.digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
* html .digg_pagination {
    height: 1%; }
*:first-child + html .digg_pagination {
    overflow: hidden; }
