.notice {
  font-size: 16px; }

.problem {
  color: #ee0000; }

.w2em {
  width: 2em; }

.w4em {
  width: 4em; }

.action_list {
  list-style: none;
  font-family: tahoma, verdana, sans-serif;
  text-decoration: none;
  font-size: 85%;
  padding: 2px;
  margin: 6px 2px;
  line-height: 20px; }
  .action_list li {
    color: #0066cc; }
    .action_list li:hover {
      cursor: pointer; }
    .action_list li:active {
      color: black;
      cursor: wait; }
    .action_list li:hover {
      background-color: #c1f4ff; }

@-moz-document url-prefix() {
  .action_list {
    text-indent: 10px; } }

.action_list_spans {
  list-style: none;
  font-family: tahoma, verdana, sans-serif;
  text-decoration: none;
  font-size: 85%;
  padding: 2px;
  margin: 6px 2px;
  line-height: 20px; }
  .action_list_spans .link:hover {
    background-color: #c1f4ff; }
  .action_list_spans span.right {
    float: right; }

.action_panel.standard {
  position: absolute;
  right: 1%;
  top: 140px;
  border-style: solid;
  border-width: 2px;
  border-color: #cdcdcd;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 14%; }
.action_panel.grid {
  list-style: none;
  font-family: tahoma, verdana, sans-serif;
  text-decoration: none;
  font-size: 85%;
  padding: 2px;
  margin: 6px 2px;
  line-height: 20px; }
  .action_panel.grid .title.black {
    background-color: #555555;
    color: white;
    line-height: 14px;
    font-family: tahoma, verdana, sans-serif;
    font-weight: bolder;
    font-size: 11px; }
  .action_panel.grid img {
    padding-right: 5px; }
  .action_panel.grid table {
    width: 100%; }
    .action_panel.grid table td {
      height: 35px;
      width: 50%;
      text-align: center;
      vertical-align: center;
      border: 1px dotted gray;
      border-right: 2px solid #555555;
      border-bottom: 2px solid #555555;
      padding-right: 8px;
      padding-left: 0px;
      background-color: #fbf9ef;
      color: #0066cc; }
      .action_panel.grid table td:hover {
        cursor: pointer;
        background-color: #c6e2ff; }
      .action_panel.grid table td:active {
        border: 1px dotted gray;
        border-left: 1px solid #555555;
        border-top: 1px solid #555555; }
  .action_panel.grid li {
    color: #0066cc; }
    .action_panel.grid li:hover {
      cursor: pointer; }
    .action_panel.grid li:active {
      color: black;
      cursor: wait; }
    .action_panel.grid li:hover {
      background-color: #c1f4ff; }
.action_panel.bar {
  height: 27px;
  list-style: none;
  font-family: tahoma, verdana, sans-serif;
  text-decoration: none;
  font-size: 85%;
  padding: 0px;
  margin: -3px 0px -5px 0px; }
  .action_panel.bar input {
    font-size: 12px;
    float: left; }
  .action_panel.bar input.button_img {
    padding-left: 19px;
    background-repeat: no-repeat;
    background-position: 4px 50%; }
  .action_panel.bar img {
    padding-right: 5px; }
  .action_panel.bar .selected_count {
    font-size: 12px;
    display: inline-block;
    float: right; }
  .action_panel.bar .selected_tools {
    font-size: 12px;
    display: inline-block;
    float: right;
    padding-left: 5px; }
  .action_panel.bar div.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    padding: 0 0.5em 10px 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: black;
    border: solid 1px gray;
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#dddddd));
    background: -moz-linear-gradient(top, #fafafa, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#eee');
    float: left;
    height: 12px;
    padding-right: 8px;
    padding-left: 0px;
    table-vertical-align: center; }
    .action_panel.bar div.button:active {
      background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#eeeeee));
      background: -moz-linear-gradient(top, #cccccc, #eeeeee);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='gray', endColorstr='white');
      position: relative;
      top: 1px; }
    .action_panel.bar div.button span {
      padding-bottom: 1px; }
    .action_panel.bar div.button td:first-child {
      padding-left: 10px; }
    .action_panel.bar div.button td.spacer {
      text-align: center;
      vertical-align: center;
      border: 1px dotted gray;
      border-bottom: none;
      /* border-bottom: 2px solid #555 */
      padding-right: 8px;
      padding-left: 0px;
      background-color: #fbf9ef;
      color: #0066cc; }
  .action_panel.bar li {
    color: #0066cc; }
    .action_panel.bar li:hover {
      cursor: pointer; }
    .action_panel.bar li:active {
      color: black;
      cursor: wait; }
    .action_panel.bar li:hover {
      background-color: #c1f4ff; }

.ajax_link {
  color: #0066cc;
  cursor: pointer; }

#alignment_tabs {
  list-style: none;
  height: 19px;
  margin: 0;
  padding: 0; }
  #alignment_tabs li {
    padding: 0 5px 0 5px;
    float: left;
    height: 19px; }
  #alignment_tabs li.current {
    background-color: #fffdf3;
    border-left: solid 1px;
    border-top: solid 1px;
    border-right: solid 1px; }
  #alignment_tabs li:hover {
    background-color: white; }
  #alignment_tabs input {
    margin-top: -2px; }

#alignment_text {
  padding-left: 20px;
  padding-bottom: 20px; }

#alignment_info_container {
  border: solid 1px;
  padding-left: 20px; }

#alignment_text {
  padding-top: 20px; }

.rounded_gradient_box {
  display: inline-block;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: black;
  border: solid 1px gray;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#dddddd));
  background: -moz-linear-gradient(top, #fafafa, #dddddd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#eee'); }

.box_padding {
  padding: 2px 3px 2px 3px; }

.annotation_panel.bar {
  height: 27px;
  list-style: none;
  font-family: tahoma, verdana, sans-serif;
  text-decoration: none;
  font-size: 85%;
  padding: 0px;
  margin: 0px; }
  .annotation_panel.bar img {
    padding-right: 5px; }
  .annotation_panel.bar .selected_count {
    font-size: 12px;
    padding-top: 6px;
    display: inline-block; }
  .annotation_panel.bar div.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    padding: 0 0.5em 10px 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: black;
    border: solid 1px gray;
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#dddddd));
    background: -moz-linear-gradient(top, #fafafa, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#eee');
    float: left;
    height: 12px;
    padding-right: 8px;
    padding-left: 0px;
    table-vertical-align: center; }
    .annotation_panel.bar div.button:active {
      background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#eeeeee));
      background: -moz-linear-gradient(top, #cccccc, #eeeeee);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='gray', endColorstr='white');
      position: relative;
      top: 1px; }
    .annotation_panel.bar div.button span {
      padding-bottom: 1px; }
    .annotation_panel.bar div.button td:first-child {
      padding-left: 10px; }
    .annotation_panel.bar div.button td.spacer {
      text-align: center;
      vertical-align: center;
      border: 1px dotted gray;
      border-bottom: none;
      /* border-bottom: 2px solid #555 */
      padding-right: 8px;
      padding-left: 0px;
      background-color: #fbf9ef;
      color: #0066cc; }
  .annotation_panel.bar li {
    color: #0066cc; }
    .annotation_panel.bar li:hover {
      cursor: pointer; }
    .annotation_panel.bar li:active {
      color: black;
      cursor: wait; }
    .annotation_panel.bar li:hover {
      background-color: #c1f4ff; }

.widget.auto_complete_field {
  position: relative; }
  .widget.auto_complete_field .box {
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    color: black; }
  .widget.auto_complete_field table {
    width: 220px; }
    .widget.auto_complete_field table td {
      vertical-align: middle; }
      .widget.auto_complete_field table td:first-child {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0; }
  .widget.auto_complete_field .box td:last-child {
    width: 20px;
    text-align: left; }
  .widget.auto_complete_field .dropdown {
    position: absolute;
    background-color: whitesmoke;
    border: 1px solid black;
    z-index: 20; }
    .widget.auto_complete_field .dropdown table {
      border: 2px solid #aaaaaa; }
    .widget.auto_complete_field .dropdown td {
      padding: 0px; }
      .widget.auto_complete_field .dropdown td:first-child {
        text-align: left; }
    .widget.auto_complete_field .dropdown img {
      margin: 2px 4px; }
  .widget.auto_complete_field .results_TD {
    text-align: left; }
  .widget.auto_complete_field .loader_image_TD {
    width: 25px; }
  .widget.auto_complete_field ul.results {
    margin: 0;
    max-height: 275px;
    padding: 0;
    overflow: auto;
    list-style-type: none; }
    .widget.auto_complete_field ul.results li {
      padding: 5px;
      padding-left: 10px; }
      .widget.auto_complete_field ul.results li.option {
        cursor: pointer;
        border: 1px solid #cccccc; }
        .widget.auto_complete_field ul.results li.option.even {
          background-color: white; }
        .widget.auto_complete_field ul.results li.option.highlighted {
          background-color: #ffff99; }

.widget.auto_text_field {
  position: relative; }
  .widget.auto_text_field .box {
    outline: none;
    cursor: pointer;
    font-size: 12px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: black;
    border: solid 1px gray;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#dddddd));
    background: -moz-linear-gradient(top, #fdfdfd, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#ddd');
    height: 27px; }
  .widget.auto_text_field table {
    width: 220px; }
    .widget.auto_text_field table td {
      vertical-align: middle; }
      .widget.auto_text_field table td:first-child {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0; }
  .widget.auto_text_field .box td:last-child {
    width: 20px;
    text-align: left; }
  .widget.auto_text_field .dropdown {
    position: absolute;
    background-color: whitesmoke;
    border: 1px solid black;
    z-index: 20; }
    .widget.auto_text_field .dropdown table {
      border: 2px solid #aaaaaa; }
    .widget.auto_text_field .dropdown td {
      padding: 0px; }
      .widget.auto_text_field .dropdown td:first-child {
        text-align: left; }
    .widget.auto_text_field .dropdown img {
      margin: 2px 4px; }
  .widget.auto_text_field .results_TD {
    text-align: left; }
  .widget.auto_text_field .loader_image_TD {
    width: 25px; }
  .widget.auto_text_field input {
    border: 1px solid gray; }
  .widget.auto_text_field ul.results {
    margin: 0;
    max-height: 275px;
    padding: 0;
    overflow: auto;
    list-style-type: none; }
    .widget.auto_text_field ul.results li {
      padding: 5px;
      padding-left: 10px; }
      .widget.auto_text_field ul.results li.option {
        cursor: pointer;
        border: 1px solid #cccccc; }
        .widget.auto_text_field ul.results li.option.even {
          background-color: white; }
        .widget.auto_text_field ul.results li.option:hover {
          background-color: #ffff99; }

.button_img {
  background-position: 4px 50%;
  background-repeat: no-repeat;
  padding-left: 19px !important;
  font-size: 12px !important; }

.first_marker_control {
  margin-left: 2px; }

.marker_control {
  margin-left: -4px; }

.widget.catalog {
  /* padding: 5px */ }
  .widget.catalog table {
    border-collapse: collapse; }
  .widget.catalog div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .widget.catalog.draghover {
    border: 5px solid black;
    padding: 0px; }
  .widget.catalog > tbody > tr:last-child > td table {
    border-collapse: collapse; }
  .widget.catalog .header {
    border-style: solid;
    border-width: 2px 1px;
    border-color: #555555; }
  .widget.catalog .entry {
    height: 20px; }
  .widget.catalog .filler {
    background-color: white;
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    text-align: center; }
  .widget.catalog .finder_fields {
    display: table;
    margin: 10px; }
  .widget.catalog .finder_field {
    display: table-row; }
    .widget.catalog .finder_field > * {
      display: table-cell;
      padding-bottom: 10px; }
  .widget.catalog th.attribute_name {
    border-left: 1px solid #aaaaaa; }
  .widget.catalog th {
    background-color: #8c8c8c;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    height: 20px;
    color: white;
    font-weight: bolder;
    font-size: 80%;
    padding: 0;
    cursor: pointer; }
    .widget.catalog th:first-child {
      width: 20px; }
  .widget.catalog .catalog-contents table {
    cursor: col-resize;
    width: 100%; }
  .widget.catalog .catalog-contents div {
    width: 100%;
    line-height: 20px;
    margin: 0 4px 0 4px; }
  .widget.catalog .catalog-contents tr.odd {
    background-color: #eaeaea; }
  .widget.catalog .catalog-contents tr.even {
    background-color: white; }
  .widget.catalog .catalog-contents tr:hover {
    cursor: pointer; }
    .widget.catalog .catalog-contents tr:hover td.filler {
      cursor: default; }
  .widget.catalog .catalog-contents tr td {
    font-size: 80%;
    vertical-align: middle;
    border: 1px solid #cccccc;
    color: #0066cc;
    padding: 2px 0 0 0;
    text-align: left; }
    .widget.catalog .catalog-contents tr td div.move_controls {
      cursor: default; }
      .widget.catalog .catalog-contents tr td div.move_controls img {
        padding: 0 2px; }
        .widget.catalog .catalog-contents tr td div.move_controls img.active {
          cursor: pointer; }
    .widget.catalog .catalog-contents tr td:first-child {
      padding: 2px 0 0 0;
      width: 20px; }
      .widget.catalog .catalog-contents tr td:first-child div {
        margin: 0; }
  .widget.catalog .catalog-footer {
    cursor: default;
    font-weight: bolder; }
    .widget.catalog .catalog-footer table {
      border: 1px solid #aaaaaa;
      background-color: #8c8c8c; }
      .widget.catalog .catalog-footer table td {
        border-style: solid;
        border-width: 2px 1px;
        border-color: #555555;
        color: white;
        text-align: center;
        font-size: 0.85em; }
        .widget.catalog .catalog-footer table td .border {
          border-top: 1px solid #aaaaaa;
          border-bottom: 1px solid #aaaaaa;
          padding: 5px; }
        .widget.catalog .catalog-footer table td .public_actions {
          position: absolute;
          left: 0; }
          .widget.catalog .catalog-footer table td .public_actions a {
            margin-right: 5px;
            margin-left: 25px; }
        .widget.catalog .catalog-footer table td .private_actions {
          position: absolute;
          right: 0; }
          .widget.catalog .catalog-footer table td .private_actions a {
            margin-left: 5px;
            margin-right: 25px; }
        .widget.catalog .catalog-footer table td .cat_actions a {
          padding: 5px;
          color: white;
          text-decoration: underline; }
          .widget.catalog .catalog-footer table td .cat_actions a:hover {
            background-color: #aaaaaa; }
  .widget.catalog tr[data-id].highlighted td {
    background-color: #ffff99; }
  .widget.catalog .filters {
    position: relative;
    background-color: #eaeaea;
    border: 1px solid #cccccc; }
  .widget.catalog .filters-inner {
    padding: 5px; }
  .widget.catalog .search_button_row {
    padding: 5px;
    position: absolute;
    right: 0px;
    top: 0px; }
  .widget.catalog .visibility-toggle {
    font-size: 12px;
    position: absolute;
    padding: 8px;
    right: 60px;
    top: 0px;
    cursor: pointer;
    color: #0066cc; }
    .widget.catalog .visibility-toggle:hover {
      color: #333333; }
    .widget.catalog .visibility-toggle.hide-control > .show-control {
      display: none; }
    .widget.catalog .visibility-toggle.show-control > .hide-control {
      display: none; }

.combo_box {
  position: relative; }
  .combo_box .box {
    outline: none;
    cursor: pointer;
    font-size: 12px;
    #padding: 0 0.5em 10px 0.5em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: black;
    border: solid 1px gray;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#dddddd));
    background: -moz-linear-gradient(top, #fdfdfd, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#ddd');
    height: 27px; }
  .combo_box table {
    width: 220px; }
    .combo_box table td {
      vertical-align: middle; }
  .combo_box .box td:last-child {
    width: 20px;
    text-align: left; }
  .combo_box .dropdown {
    position: absolute;
    background-color: whitesmoke;
    border: 1px solid black;
    z-index: 20; }
    .combo_box .dropdown table {
      border: 2px solid #aaaaaa; }
    .combo_box .dropdown td {
      padding: 0px; }
      .combo_box .dropdown td:first-child {
        text-align: left; }
    .combo_box .dropdown img {
      margin: 2px 4px; }
  .combo_box .results_TD {
    text-align: left; }
  .combo_box .loader_image_TD {
    width: 25px; }
  .combo_box input {
    border: 1px solid gray; }
  .combo_box ul.results {
    margin: 0;
    max-height: 275px;
    padding: 0;
    overflow: auto;
    list-style-type: none; }
    .combo_box ul.results li {
      padding: 5px;
      padding-left: 10px; }
      .combo_box ul.results li.option {
        cursor: pointer;
        border: 1px solid #cccccc; }
        .combo_box ul.results li.option.even {
          background-color: white; }
        .combo_box ul.results li.option:hover {
          background-color: #ffff99; }

.chrom {
  margin-left: 10px; }
  .chrom td {
    padding-left: 2px; }

.marker_div {
  position: relative;
  height: 44px; }
  .marker_div .marker_checkbox {
    position: absolute;
    bottom: -19px;
    right: -5px; }
    .marker_div .marker_checkbox span {
      padding-right: 1px; }
    .marker_div .marker_checkbox input {
      margin-left: 0px !important; }

.move_marker a {
  padding-left: 2px;
  padding-right: 2px; }
.move_marker div {
  display: inline-block; }
  .move_marker div:hover {
    background-color: grey; }

.move_otu {
  margin-right: 8px;
  float: right; }
  .move_otu a {
    padding-left: 2px;
    padding-right: 2px; }
  .move_otu div {
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    text-transform: rotate(90deg); }
    .move_otu div:hover {
      background-color: grey; }

#table_navigation {
  position: relative; }
  #table_navigation table {
    width: 100%; }

.datagrid .bt {
  font-family: tahoma, verdana, sans-serif;
  padding: 3px;
  height: inherit;
  text-align: center;
  font-size: 9px;
  vertical-align: middle; }
  .datagrid .bt .cell_div {
    position: relative; }
    .datagrid .bt .cell_div .seq_count {
      position: absolute;
      top: -4.5px;
      left: -2.5px; }
    .datagrid .bt .cell_div .cell_checkbox {
      position: absolute;
      bottom: -6px;
      right: -6px; }
  .datagrid .bt.a {
    background-color: #fde981; }
  .datagrid .bt.b {
    background-color: #9be6fd; }
  .datagrid .bt.c {
    background-color: #fe4f4f; }
  .datagrid .bt.d {
    background-color: #eebbee; }
  .datagrid .bt.e {
    background-color: #11dd77; }
  .datagrid .bt.f {
    background-color: #ffbb22; }
.datagrid .body.container {
  height: 600px;
  overflow: auto;
  border: 0px;
  width: 84%; }
.datagrid .body td:first-child {
  width: 300px;
  font-family: tahoma, verdana, sans-serif;
  font-size: 70%;
  background-color: #4e4e4e;
  color: #fefefe;
  padding: 3px; }
  .datagrid .body td:first-child a {
    text-decoration: none;
    color: #fefefe; }
.datagrid .body td:hover {
  cursor: pointer; }
.datagrid .body > tbody > tr > td {
  width: 60px;
  vertical-align: top; }
.datagrid .head.container {
  width: 84%;
  overflow-x: hidden; }
.datagrid .head th {
  font-family: tahoma, verdana, sans-serif;
  font-size: 70%;
  background-color: #4e4e4e;
  color: #fefefe;
  padding: 3px; }
  .datagrid .head th a {
    text-decoration: none;
    color: #fefefe; }
.datagrid .head > thead > tr {
  text-align: center;
  color: #fefefe; }
  .datagrid .head > thead > tr > td {
    width: 60px;
    vertical-align: top; }
.datagrid .navigation {
  position: relative;
  height: 60px;
  width: 300px; }
  .datagrid .navigation .back_link {
    vertical-align: top;
    text-align: left; }
.datagrid .pagination {
  vertical-align: bottom;
  text-align: center; }
  .datagrid .pagination * {
    font-size: 9px;
    color: gray; }
  .datagrid .pagination a {
    color: #fefefe; }
.datagrid .message.container.table_empty {
  position: absolute;
  top: 20px;
  left: 60px;
  color: #aaaaaa;
  font-size: 12px;
  font-weight: normal; }
.datagrid .message.container.cell_saved {
  padding-top: 10px;
  padding-bottom: 5px;
  color: green;
  text-align: center;
  height: 28px; }

.selected_heading {
  background-color: pink !important;
  color: #4e4e4e !important; }
  .selected_heading a {
    color: #4e4e4e !important; }

.row_loading {
  text-align: center;
  font-size: 70%;
  background-color: #4e4e4e;
  color: #fefefe;
  margin-left: 1px; }

#sort_otus {
  position: absolute;
  left: 5px;
  bottom: 2px; }

#selected_seqs_controls {
  position: absolute; }

#sort_markers {
  position: absolute;
  right: 3px;
  top: 4px; }

#sort_characters {
  position: absolute;
  right: 3px;
  top: 4px; }

#sort_both {
  position: absolute;
  right: 3px;
  bottom: 2px; }

.mode_controls {
  text-align: left;
  padding-top: 4px;
  margin-bottom: 4px; }

#export_mode {
  border-right: solid;
  border-width: 0.1px; }

#submatrix_mode {
  padding-left: 2px; }

#submatrix_mode_controls {
  position: absolute;
  top: 22px;
  right: 0px; }

.chk_otu {
  margin: 0 !important;
  padding-left: 2px; }

.datagrid_mode {
  border: none !important; }

#move_mode {
  margin-left: 10px; }

.movement_container {
  height: 14px; }

.date_field {
  width: auto;
  margin-bottom: 1em; }
  .date_field td {
    padding: 0 0.2em 0.4em 0;
    border-bottom: 0 none; }
    .date_field td input {
      margin-right: 0.3em; }
    .date_field td label {
      font-size: 10px;
      font-weight: normal;
      display: block; }
    .date_field td.lastTD input {
      margin-right: 0; }

.geographic_map.default {
  width: 500px;
  height: 300px; }
.geographic_map .olControlPanel div {
  position: absolute;
  top: 0px;
  left: 470px; }
.geographic_map .olControlNoSelect .customControlItemActive {
  width: 30px;
  height: 30px;
  background-image: url("/assets/OpenLayers/img/zoom_active.png"); }
.geographic_map .olControlNoSelect .customControlItemInActive {
  width: 30px;
  height: 30px;
  background-image: url("/assets/OpenLayers/img/zoom_inactive.png"); }

.widget.image-gallery ul.igallery-thumbs-list {
  list-style-type: none;
  padding-left: 0; }

.link {
  color: #0066cc;
  cursor: pointer; }
  .link:hover {
    color: #333333; }
  .link:active {
    color: black;
    cursor: wait; }

.link_bar {
  width: 100%;
  border-top: 1px solid #cdcdcd; }
  .link_bar td {
    background-color: #fffae1;
    width: 25%;
    text-align: center;
    border-width: 1px;
    border-style: none none none solid;
    border-color: #cdcdcd;
    color: #0066cc; }
    .link_bar td:hover {
      cursor: pointer; }

#show_cell_container {
  width: 100%; }

.owners {
  font-weight: bold; }

.owner {
  color: #87aec5; }

.cell_info {
  width: 395px;
  padding: 0;
  vertical-align: bottom !important; }
  .cell_info label {
    width: 30%;
    float: left;
    text-align: right; }

#td_cell_seq_search {
  width: 643px; }

#cell_left {
  width: 404px;
  float: left; }

#cell_seq_search {
  display: block; }

.tdcenter {
  text-align: center !important; }

.tdseq {
  vertical-align: middle !important; }

.trnopoint {
  cursor: default !important; }

#table_navigation {
  position: relative; }

#title_div {
  padding-top: 5px; }
  #title_div h1 a {
    color: #0066cc; }

.leveled {
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 0px; }

#export_mode {
  text-align: left; }

#selected_seqs_controls {
  position: absolute;
  bottom: 18px;
  padding-left: 5px;
  padding-bottom: 3px; }

.nopad {
  padding: 0px !important; }

.link_buttons a {
  padding: 3px; }
.link_buttons a:hover {
  background-color: grey; }
.link_buttons .center {
  text-align: center; }
.link_buttons .right {
  text-align: right; }

.align_top {
  valign: top; }

.modify_matrix_table {
  width: 700px;
  border: 0;
  cellspacing: 5px;
  cellpadding: 2px; }

.hovhand:hover {
  cursor: pointer;
  cursor: hand; }

.expand_date {
  font-size: 70%; }

.time_of_day {
  padding-left: 55px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

.matrix_title {
  margin: 5px !important; }

.versions {
  font-size: 110%;
  padding: 0 5 0 5; }

.versions:hover {
  cursor: pointer;
  cursor: hand;
  background-color: yellow; }

#versioning_list {
  list-style: none !important;
  margin: 0px !important;
  padding: 0px !important; }

.autofill {
  margin-top: 2px; }

.td_right {
  align: right; }

.td_top {
  valign: top; }

.morphology_character_info {
  width: 780px;
  border: 1px solid black;
  padding-top: 5px;
  padding-left: 15px;
  margin-bottom: 25px; }

.char_table {
  margin-bottom: 10px; }

.existing_states {
  margin-bottom: 10px; }
  .existing_states table {
    border-bottom: 1px dotted black; }

.character_images tr {
  height: 90px; }

.character_chr_state .buttons {
  position: relative;
  left: 25px;
  visibility: hidden; }

.character_chr_state:hover .active.buttons {
  visibility: visible; }

.matrix_and_character_link {
  background-color: transparent !important; }
  .matrix_and_character_link a:hover {
    background-color: #c1f4ff; }

.smaller_text {
  font-size: 80%; }

.citation p {
  border-bottom: 1px dotted black;
  padding-bottom: 12px; }
.citation .cit_buttons {
  visibility: hidden;
  float: right; }
  .citation .cit_buttons input {
    padding: 1px !important; }

.citation:hover .active.cit_buttons {
  visibility: visible; }

.state_images {
  vertical-align: text-top;
  padding-top: 25px; }

.chr_state_imagesdiv table {
  border-bottom: none !important; }
.chr_state_imagesdiv .img_holder a {
  visibility: hidden; }
.chr_state_imagesdiv .img_holder:hover a {
  visibility: visible; }
.chr_state_imagesdiv .img_holder:hover img {
  border: 1px solid #0066cc;
  border-width: 1px !important; }

.state_display_list {
  font-family: tahoma, verdana, sans-serif;
  font-size: 85%;
  list-style: none outside none;
  text-decoration: none;
  text-indent: -15px;
  padding: 3px; }
  .state_display_list li {
    margin-left: 26px; }

.center_contents label {
  vertical-align: middle; }
.center_contents input {
  vertical-align: middle; }

.morphology_cell input, .morphology_cell textarea, .morphology_cell select {
  margin-left: 25px;
  vertical-align: middle; }

.obj_attachments input {
  margin-top: 3px; }
.obj_attachments .head {
  margin-right: 10px;
  font-size: 1.2em; }
.obj_attachments .selected a {
  color: black;
  border-bottom: 2px solid #fffdf3;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 2px 8px 0; }
.obj_attachments .unselected {
  font-style: italic; }
  .obj_attachments .unselected:hover {
    font-style: normal;
    text-decoration: underline; }
.obj_attachments .morphology_cell_info {
  border: 1px solid black;
  padding-top: 4px; }

.cell_headings a {
  margin-left: 25px; }

.citation .buttons {
  padding-left: 5px;
  padding-top: 12px;
  margin-left: 0px !important;
  float: right;
  visibility: hidden; }

.citation:hover .active.buttons {
  visibility: visible; }

.cell_citation {
  margin-left: 25px; }

.morphology_selected {
  visibility: visible; }

.morphology_unselected {
  visibility: hidden;
  display: none;
  float: right; }

.widget.outlinks-table {
  border-collapse: collapse; }
  .widget.outlinks-table tr.highlighted {
    background-color: #ffff99;
    cursor: pointer; }
  .widget.outlinks-table td {
    border: 0;
    border-top: 1px dotted #333333; }
    .widget.outlinks-table td:first {
      border-top: 0; }

.scroll_box {
  overflow: auto;
  background-color: white;
  border: 1px solid #aaaaaa;
  padding: 5px; }

pre {
  margin: 0; }

.horizontal_list li {
  display: inline;
  list-style-type: none; }

li.marg {
  margin-right: 9px; }

#show_seq_container label {
  font-size: 100%;
  text-decoration: underline; }

#fasta_format_note p {
  width: 275px;
  font-size: 80%; }
#fasta_format_note td {
  text-align: center;
  font-size: 80%; }

.three_cols {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  padding-left: 0px !important; }
  .three_cols li {
    line-height: 1.5em;
    float: left;
    display: inline;
    width: 33.333%; }
  .three_cols li.first {
    text-align: left; }
  .three_cols li.middle {
    text-align: center; }
  .three_cols li.last {
    text-align: right; }

.seq_fixed_width {
  width: 160px;
  display: inline; }

.show_seq {
  table-layout: fixed; }

#add_new_marker {
  margin-bottom: 2px !important; }

.seq_wrap {
  width: 875px;
  word-wrap: break-word; }

.table_width {
  width: 888px; }

.td_indent {
  width: 50px !important; }

.td_label {
  vertical-align: middle !important; }
  .td_label label {
    float: right !important; }

.seq_bold {
  font-weight: bold; }

.nopad {
  padding-left: 3px; }
  .nopad td {
    padding: 0px !important;
    margin-bottom: 0px !important; }

.date_field label {
  font-size: 65% !important;
  text-decoration: none !important; }

.td_divider {
  text-align: center;
  width: 55px; }

#show_gb_detailed_data {
  font-size: 70%;
  position: absolute;
  top: -4px;
  right: -3px; }

.sticky_container {
  position: fixed;
  top: 1;
  background-color: #fffdf3;
  padding-bottom: 2px; }

#markers_table {
  padding-top: 100px; }

.check_head {
  width: 15px; }

.gb_hov:hover {
  width: 16px;
  height: 16px; }

.gb_hov_mini:hover {
  border-left: solid 1px blue;
  border-right: solid 1px blue; }

.unseen {
  visibility: hidden; }

.span_container {
  background-color: #eaeaea;
  border: 1px solid #cccccc;
  width: 450px;
  margin: 5px 0 0 5px;
  padding-top: 5px;
  vertical-align: middle;
  position: relative; }

.small_container {
  height: 45px; }

.tall_container {
  height: 77px; }

#limit_choices {
  padding-right: 10px;
  padding-left: 30px; }

.main_seq_search {
  font-size: 150%;
  margin-top: 5px; }

#genbank_inputs {
  font-size: 90%; }

#gb_search_options {
  margin-top: 12px; }

#genbank_term {
  margin-left: 5px; }

.btn_add_genbank_seq {
  background-image: url(/images/small_addnew.gif);
  margin-top: 1px; }

.btn_loading {
  background-image: url(/images/small_loading.gif); }

.esearch {
  background-image: url(/images/genbank.gif);
  margin-bottom: 8px; }

.btn_image_cel {
  font-size: 85%;
  background-repeat: no-repeat;
  background-position: 4px 50%;
  padding-left: 21px;
  margin-right: 5px;
  height: 25px;
  background-color: #eaeaea;
  border: 2px outset #999999; }

.btn_image_cell {
  background-repeat: no-repeat;
  background-position: 4px 50%;
  padding-left: 21px;
  margin-right: 5px;
  height: 25px;
  background-color: #eaeaea;
  border: 2px outset #999999;
  position: absolute;
  right: 0;
  font-size: 100%; }

.seq_search {
  padding: 2px;
  text-align: center;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -moz-text-shadow: rgba(0, 0, 0, 0.5) 0px 0.5px 0.5px;
  -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0px 0.5px 0.5px;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 0.5px 0.5px; }

.posrel {
  position: relative; }

.goright {
  position: absolute;
  right: 0; }
  .goright:hover {
    cursor: pointer;
    cursor: hand; }

.seqsearchtable {
  margin: -2.5px 0px 0px 2px; }

#toggle_genbank_inputs {
  font-size: 95%; }

#toggle_genbank_inputs:hover {
  cursor: pointer;
  cursor: hand; }

.seq_search:hover {
  cursor: pointer;
  cursor: hand; }

.seq_search_yes {
  color: black;
  border-bottom: 2px solid #fffdf3;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 2px 8px 0;
  border-collapse: collapse; }

.seq_search_no {
  color: transparent; }

#tolkin_seqs {
  border-top: 1px solid black;
  float: left;
  border-collapse: collapse; }

#genbank_seqs {
  border-top: 1px solid black;
  float: left;
  border-collapse: collapse; }

.org_gene {
  width: 150px;
  font-size: 99%; }

.removed_seqs {
  font-size: 70%; }

#seqs_for_addition {
  font-size: 90%; }

.overflow_ellipsis {
  width: 600px;
  text-overflow: ellipsis;
  overflow: hidden; }

.swap_list {
  font-size: 10px; }
  .swap_list.container {
    height: 200px;
    width: 225px;
    overflow: auto;
    background-color: white;
    padding: 5px;
    border: 1px solid black; }
  .swap_list li * {
    text-align: right; }
  .swap_list li.selected {
    background-color: blue; }
    .swap_list li.selected span {
      color: white; }

.switch {
  float: right;
  height: 100%;
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: #ababab;
  background-color: #faf9ef;
  border-collapse: collapse; }
  .switch td {
    width: 65px;
    height: 10px;
    padding: 5px;
    text-align: center;
    cursor: pointer; }
    .switch td:first-child {
      border-right: 1px dotted gray; }
    .switch td.selected {
      font-weight: bold;
      background-color: #fefdd3; }
      .switch td.selected:hover {
        cursor: default; }

ul.tab_bar {
  list-style-type: none;
  padding: 4px 0px;
  margin: 0px; }
  ul.tab_bar li.tab {
    display: inline;
    padding: 4px 10px; }

/* Adapted from CSS Tabs 2.0 by Joshua Kaufman (http://unraveled.com/) */
.tabbed_result_list .body {
  color: #333333;
  padding: 1.5em 0 1em 0;
  border: 1px solid #66cc66;
  background-color: white;
  min-height: 50px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
.tabbed_result_list ul {
  text-align: left;
  margin: 1em 0 0 0;
  font: bold 11px verdana, arial, sans-serif;
  list-style-type: none;
  padding: 3px 10px 3px 10px; }
  .tabbed_result_list ul li {
    display: inline; }
    .tabbed_result_list ul li a {
      -webkit-border-top-left-radius: 10px;
      -webkit-border-top-right-radius: 10px;
      -moz-border-radius-topleft: 10px;
      -moz-border-radius-topright: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 3px 8px;
      border: 1px solid #66cc66;
      background-color: #ccffcc;
      color: #666666;
      margin-right: 0px;
      text-decoration: none;
      border-bottom: none; }
      .tabbed_result_list ul li a:hover {
        background: white; }
    .tabbed_result_list ul li.selected a {
      background-color: white;
      color: black;
      position: relative;
      top: 1px;
      padding-top: 4px; }

.versioning_change a, .versioning_change span {
  font-size: 90%;
  font-weight: bold; }

.beginning {
  padding-right: 7px; }

.end {
  padding-left: 7px; }

.version_container {
  overflow: hidden;
  width: 30px; }

#timeline_version_select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: transparent;
  background: transparent;
  padding-left: 0px !important;
  padding-right: 0px !important;
  color: #0066cc; }
  #timeline_version_select:hover {
    background: #c1f4ff;
    color: black; }

@-moz-document url-prefix() {
  #timeline_version_select {
    width: 150%;
    margin-top: 23px !important; } }

.toast {
  width: 400px;
  height: 70px;
  position: fixed;
  padding: 10px;
  bottom: 0px;
  right: 20px;
  border: 1px solid gray;
  background-color: #faf9ef;
  z-index: 20; }
  .toast .close_button {
    text-align: right;
    font-family: tahoma, verdana, sans-serif;
    font-size: 100%;
    position: absolute;
    right: 0;
    vertical-align: middle;
    padding-right: 7px;
    cursor: pointer; }
  .toast img {
    float: left; }
  .toast td {
    vertical-align: top; }
    .toast td.notice {
      padding-left: 10px;
      width: 325px; }
  .toast span {
    padding-left: 10px; }

.drag-tooltip {
  cursor: all-scroll; }

.tree_view {
  border-spacing: 0px;
  padding: 20px; }
  .tree_view td {
    vertical-align: top; }
  .tree_view .tree_view_expander {
    width: 16px;
    cursor: pointer; }
  .tree_view .tree_view_node_name span {
    cursor: pointer; }

.user_panel.workflows {
  position: absolute;
  right: 2em;
  top: 0em;
  border-style: solid;
  border-width: 2px;
  border-color: #cdcdcd;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 20%;
  z-index: 10; }
.user_panel.standard {
  background-color: #fffdf3;
  position: absolute;
  right: 2em;
  top: 10em;
  border-style: solid;
  border-width: 2px;
  border-color: #cdcdcd;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 225px;
  z-index: 10; }
.user_panel.otus {
  background-color: #fffdf3;
  position: absolute;
  right: 2em;
  top: 0;
  border-style: solid;
  border-width: 2px;
  border-color: #cdcdcd;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 225px;
  z-index: 10; }

.dialog .saveButtonContainer {
  float: right;
  padding-top: 8px; }
.dialog .createCopyButtonContainer {
  float: right;
  padding-top: 8px; }
.dialog .publicityButtonContainer {
  float: right;
  padding-top: 8px; }
.dialog .button {
  cursor: pointer; }
  .dialog .button.inactive {
    cursor: auto; }
  .dialog .button.back {
    width: 12px;
    height: 12px;
    background-image: url("../images/l.png"); }
    .dialog .button.back.inactive {
      background-image: url("../images/l_gray.png"); }
.dialog .window_title {
  height: 2em;
  z-index: 200003; }
.dialog .tab_bar {
  height: 1.5em;
  z-index: 2002; }
.dialog .contents {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: -1; }
.dialog .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white; }
.dialog table.metadata {
  border-top: 2px solid #aaaaaa;
  border-collapse: collapse; }
.dialog table tr.divide_row td {
  border-top: 2px solid #aaaaaa; }
.dialog .highlighted {
  background-color: #ffff99;
  cursor: pointer; }
.dialog .key_cell {
  border: 1px solid #aaaaaa;
  background-color: #555555;
  color: white;
  font-weight: bolder; }
.dialog td {
  vertical-align: top;
  padding: 3px; }
.dialog .status_icon_area {
  padding-right: 5px;
  float: right;
  position: relative;
  top: 0.4em; }
.dialog .tab_bar {
  font-size: 11px;
  border-bottom: 1px solid #cdcdcd;
  background-color: white; }
  .dialog .tab_bar .tab {
    border-width: 1px;
    border-style: solid solid solid none;
    border-color: #cdcdcd;
    background-color: #fffae1;
    cursor: pointer; }
    .dialog .tab_bar .tab.selected {
      background-color: #ffe190;
      border-width: 1px;
      border-style: solid;
      border-color: #cdcdcd #cdcdcd #cdcdcd #fffdf3; }
      .dialog .tab_bar .tab.selected:hover {
        cursor: auto; }
.dialog .dialog_message {
  padding: 15px;
  max-width: 500px; }

.bottom td {
  border: none !important;
  font-size: 1em !important; }
.bottom input[type="button"] {
  font-size: 100% !important;
  height: 24px !important; }

/* Adapted from CSS Tabs 2.0 by Joshua Kaufman (http://unraveled.com/) */
.tabbed_box .body {
  color: #333333;
  padding: 20px;
  border: 1px solid #666666;
  background-color: #fffdf3;
  min-height: 50px;
  width: 700px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  display: none; }
  .tabbed_box .body.selected {
    display: block; }
.tabbed_box > ul {
  text-align: left;
  margin: 1em 0 0 0;
  font: bold 11px verdana, arial, sans-serif;
  list-style-type: none;
  padding: 3px 10px 3px 10px;
  width: 740px; }
  .tabbed_box > ul li {
    display: inline; }
    .tabbed_box > ul li a {
      -webkit-border-top-left-radius: 7px;
      -webkit-border-top-right-radius: 7px;
      -moz-border-radius-topleft: 7px;
      -moz-border-radius-topright: 7px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      padding: 3px 8px;
      border: 1px solid #666666;
      background-color: #fff3b3;
      color: #666666;
      margin-right: 0px;
      text-decoration: none;
      border-bottom: none; }
      .tabbed_box > ul li a:hover {
        background: #fffdf3; }
    .tabbed_box > ul li.selected a {
      background-color: #fffdf3;
      color: black;
      position: relative;
      top: 1px;
      padding-top: 4px; }
    .tabbed_box > ul li.inactive a {
      border-bottom: 1px solid #666666;
      background-color: #e8e8e8;
      color: black;
      position: relative;
      color: #a8a8a8; }

.project_info label {
  font-weight: bold; }

.submatrix_children ul {
  list-style: none;
  padding-left: 20px !important; }
  .submatrix_children ul span.right {
    float: right;
    padding-left: 10px; }
.submatrix_children .submatrix_otus {
  float: left; }
.submatrix_children .submatrix_markers {
  float: left;
  padding-left: 30px; }
.submatrix_children input {
  vertical-align: bottom;
  padding: 0px !important;
  margin: 0px !important; }
.submatrix_children label {
  display: block; }

.removed {
  text-decoration: line-through; }

.headings {
  padding-left: 18px;
  float: left; }
  .headings td {
    vertical-align: top;
    width: 165px;
    padding-left: 2px; }

.tolkin_header {
  border: dotted 1px;
  margin-left: 15px;
  padding: 0 3px 8px;
  margin-bottom: 1px;
  height: 10px;
  min-width: 50px; }

.ready_for_map {
  cursor: hand;
  cursor: pointer; }

.cancel_map {
  margin-right: 3px; }

.map_choice {
  font-size: 1.5em;
  padding: 5px; }

p.citation {
  margin-left: 20px;
  text-indent: -20px; }
