pre {
  margin: 0; }

.horizontal_list li {
  display: inline;
  list-style-type: none; }

li.marg {
  margin-right: 9px; }

#show_seq_container label {
  font-size: 100%;
  text-decoration: underline; }

#fasta_format_note p {
  width: 275px;
  font-size: 80%; }
#fasta_format_note td {
  text-align: center;
  font-size: 80%; }

.three_cols {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  padding-left: 0px !important; }
  .three_cols li {
    line-height: 1.5em;
    float: left;
    display: inline;
    width: 33.333%; }
  .three_cols li.first {
    text-align: left; }
  .three_cols li.middle {
    text-align: center; }
  .three_cols li.last {
    text-align: right; }

.seq_fixed_width {
  width: 160px;
  display: inline; }

.show_seq {
  table-layout: fixed; }

#add_new_marker {
  margin-bottom: 2px !important; }

.seq_wrap {
  width: 875px;
  word-wrap: break-word; }

.table_width {
  width: 888px; }

.td_indent {
  width: 50px !important; }

.td_label {
  vertical-align: middle !important; }
  .td_label label {
    float: right !important; }

.seq_bold {
  font-weight: bold; }

.nopad {
  padding-left: 3px; }
  .nopad td {
    padding: 0px !important;
    margin-bottom: 0px !important; }

.date_field label {
  font-size: 65% !important;
  text-decoration: none !important; }

.td_divider {
  text-align: center;
  width: 55px; }

#show_gb_detailed_data {
  font-size: 70%;
  position: absolute;
  top: -4px;
  right: -3px; }

.sticky_container {
  position: fixed;
  top: 1;
  background-color: #fffdf3;
  padding-bottom: 2px; }

#markers_table {
  padding-top: 100px; }

.check_head {
  width: 15px; }

.gb_hov:hover {
  width: 16px;
  height: 16px; }

.gb_hov_mini:hover {
  border-left: solid 1px blue;
  border-right: solid 1px blue; }
