<div id="navpane">
  <div class="windowtitle">Options</div>

  <ul class="listmain">
    <li>
      <a href="<%= add_user_to_project_users_path %>">Add User</a>
      <!--%=link_to_remote 'Add User', :url => { :action => :add_user_to_project } %-->
    </li>
  </ul>
</div>

