.dialog_message= message
.submitbuttonrow
  %input{ :id => "dialog_box_yes", :type => 'submit', :value => 'Yes' }
  %input{ :id => "dialog_box_no", :type => 'submit', :value => 'No' }
  %input{ :id => "dialog_box_cancel" , :type => 'submit', :value => 'Cancel' }