<span id="seqs_for_addition_message">Ready to add 0 sequences to Tolkin.  </span><span id="seqs_for_addition_cancel">(<a class="cancel_seqs_for_addition">Cancel</a>)</span>
<table id="seqs_for_addition"></table>