<label for="alignment_name">Name:</label><input id="alignment_name" type="text" name="alignment[name]"><br/>
<label for="alignment_description">Description:</label><textarea id="alignment_description" name="alignment[description]" rows="3" cols="20"></textarea>
<table id="seqs_for_alignment">


</table>