<div id="detailsdiv" class="detailsdiv">
    <h5>Listing Otus in this group</h5>

    <% form_tag remove_selected_project_otu_groups_path(params[:project_id]), { :method => :post, :name=>"otus_form", :id=>"otus_form" } do %>

      <table id="otu_group_<%#=@otu_group.id %>_otu_list">
        <thead>
        <tr>
          <th class="h"><input type="hidden"  id="otu_group_id" value=<%#= @otu_group.id%> name="otu_group_id" /></th>
          <th class="h">Name</th>
          <th class="h" colspan="5">Action</th>
        </tr>
        </thead>
        <tbody id="otu_group_<%#=@otu_group.id %>_otu_list_table_body">
        <%#= render :partial => 'list_otus_otu', :collection => @otus %>
        </tbody>
      </table>
    <% end %>
  </div>