.auto_complete_field.widget{ id: id }
  %table.box
    %tr
      %td.label
        %input{ type: "text", id: text_field_input_id, name: text_field_name, class: "text_field", style: text_field_style, value: text_field_value, autocomplete: "off" }
      %td.arrow-container{ style: "padding: 0px" }
        %input{ type: 'button', style: "background-image: url(/images/black_down_arrow.png); width: 21px; height: 21px; background-repeat: no-repeat; background-position: 45%" }

