- # coding:utf-8
#tree_browse_instructions
  %h4 Instructions:
  .instruction
    + : Expand View.
  .instruction
    ‒ : Collapse View.
  /.instruction
  /  Press key A and click a taxon to select/unselect a taxon.
  /.instruction
  /  Press keys A + R and click a taxon to select/unselect a taxon and its children recursively.