<!--html>
  <body>
    <span id='citation_status'>success</span>
    <!--div id='citation_list_insert'>
      <#%= render :partial => "/shared/list_citations_taxa" ,  :locals => {:citation => @citation  ,:obj => @taxon, :url_options => { :controller => :taxonomies, :project => @project, :id => @taxon }} %>
    </div>
    <div id="new_citation_id"><#%=@citation.id %></div>
    <div id="new_citation_authors"><#%=@citation.display_name %></div>
  </body>
</html-->
