<style type="text/css">
  .css1 { font-size: 1.0em; }
  .css2 { font-size: 1.2em; }
  .css3 { font-size: 1.4em; }
  .css4 { font-size: 1.6em; }
 </style>
 <center>
 	<%#= text_field_with_auto_complete :tag, :name ,{},:method=>:get%>
 <div id="div_tag_cloud" style="width:50%;height:50%;">
<% tags_cloud tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
    <%= link_to tag.name, { :action => :show, :id => tag.id ,:page=> "1"}, :class => css_class %>
   <br/>
<% end %>
</div>
</center>
