%div{:style=>"margin:5px;border-style:solid;border-color:#CDCDCD;border-width:2px"}
  %div.windowtitle Actions
  %ul#mol_matrices_action_list.action_list.widget
    %li
      %a{:href=>"#"} Export FASTA file
    %li
      %a{:href=>"#"} Create Alignment