<table>
  <tr>
    <td>Label:</td><td><%= @role.label %></td>
  </tr>
</table>
<h2>Users</h2>
<table>
  <tr>
    <td><input type="button" value="Add"/></td>
    <td><input type="button" value="Remove" /></td>
  </tr>
</table>
<ul>
<% @role.member_users.all.each do |user| %>
  <li><%= user %></li>
<% end %>
</ul>
<table>

</table>