<span>
  <div id="MainDiv" class="widget filter_set">
    Filter by: <select class="searchSelect" name="search[]">
      <option value="">Select Filter</option>
      <%= raw options_for_search %>
    </select>
    <br/>
    <form method="get" id="ImageSearchForm" class="image_gallery_search_filter" action="<%= project_image_albums_path %>" style="margin-top: 10px;">
      <table id="search_terms">
        <tr class="image_search_option">
          <td><input type="button" value="x" class="button active cancel_search_term" data-searchtype="taxon"/></td>
          <td>Taxon</td>
          <td><input type="text" name="search[taxon]"/></td>
        </tr>
      </table>
      <input id="search_images" type="submit" value="search"/>
    </form>
  </div>
</span>
<div id='album_index'>
  <%= render partial: 'image_albums/image_album' %>
</div>