<% if @images.empty? %>

    <div style="margin-top: 10px;font-weight: bold;" >
      <br/> <br/>
    <%= "#{@images.size} images returned" if params[:search] %>
  </div>

    <div class="image_album" >
      <div class="imageSingle">
        This search yields no results.
      </div>
    </div>

<% else %>
    
<div style="margin-top: 10px;font-weight: bold;" >
  <br/> <br/>
  <%= "#{@images.size} images returned" if params[:search] %>
  </div>

<div class='image_album'>
  <%= render partial: 'image_albums/image_singles', :collection => @images, :as => :image %>
</div>

<% end %>