<h1>Image Album Index</h1>

  <%= image_list_widget %>
<br/>

<%#= paginate @images, :window => 2 %>

<%#= will_paginate @images %>
<br/>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @images %>
  </div>
  <%= will_paginate @images, :container => true %>
</div>
</div>
