<tr id = <%="tr_"+model_type+"_#{filter}_"%> >
  <td>
    <%= label_tag(model_type, filter, :size => size) %>
  </td>
  <td>
    <%= text_field(model_type, filter,  :size => size) %>
    <br/>
  </td>
</tr>
