<!--
<div id="navpane">
  <#%= render :partial => "leftnav" %>
</div>
<h5>Listing citations</h5>
<div id="div_citation_list">
  <form id="index_citations">
    <#%=render :partial=> "citations", :object=>@citations %>
  </form>
</div>
<span id="span_cit_pagination" class="bodytext"><#%= will_paginate @citations %></span>
-->