<%= collection_select("citation", :type, Library::CitationType.find(:all), :name, :name, {} ,:id=> 'select_new_citation_type') %>
<input type="button" class="button active" value="Select" />
<div id="div_create_new_citation"></div>