<h5>New <%= get_pseudo_citation_type_name(@citation.class.to_s.demodulize) %></h5>
<%= render :partial => "form", :locals => { :url_options => project_library_citations_path }%>
<%#*<iframe id='upload_frame' name="upload_frame" style="width:1px;height:1px;border:0px"></iframe>%>
