<div style="margin: 0px 10px;">
  <div>
    <form>
      <div style="display: inline; border: solid 1px #7FAAFF; background-color: #C5D9FF; padding: 2px;">
        <span id="spanButtonPlaceholder"></span>
      </div>
    </form>
  </div>
  <div id="divFileProgressContainer" style="height: 75px;"></div>
  <div id="thumbnails"></div>
</div>
<%= link_to 'Index', images_path %>